<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render clients %>
  </tbody>
</table>
