<h1>All Clients</h1>

<ul>
  <% @clients.each do |client| %>
    <li>
      <%= link_to "#{client.first_name} #{client.last_name}", client %>
      <%= link_to "Edit", edit_client_path(client) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Client", new_client_path %>
