.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.calendar-event {
  background: #f9d342;
  color: #222;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 4px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
  border: 1px solid #f1c40f;
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}
