@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #333446ee;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid rgba(255,255,255,0.08);
}

#sidebar header {
  background-color: #5f6e8f86;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 20px;
  padding: 16px 24px;
}

.nav-link:hover{
  background: #dbdceef3 !important;
  color: #131427ee !important;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.nav > li > a {
  position: relative;
  display: block;
  width: 250px;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 5px; // Space between logo and avatar
}

.dropdown-menu{
  background-color: #7F8CAA;
}

::-webkit-scrollbar {
  display: none;
}


.avatar, .avatar.rounded-circle {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 28px auto; // More space below avatar before menu
}
